stages:
  - security-scan

variables:
  # Define el namespace de Kubernetes donde se ejecutan los escaneos
  KUBE_NAMESPACE: "scb"

# --- JOB 1: Escaneo de SEMGREP ---
gitleaks-scan:
  stage: security-scan # Se ejecuta en el mismo stage
  tags:
    - k8s-runner
  image:
    name: bitnami/kubectl:latest
    entrypoint: [""]
  only:
    - main
  script:
    - echo "Verificando conexion con el cluster..."
    - kubectl config get-contexts
    - echo "Creando manifiesto de escaneo de GITLEAKS..."
    - kubectl -n $KUBE_NAMESPACE create -f scb-gitleaks-scan.yaml # El nuevo YAML para Gitleaks
    - echo "Scan de Gitleaks creado en Kubernetes."
