stages:
  - security-scan

variables:
  # Define el namespace de Kubernetes donde se ejecutan los escaneos
  KUBE_NAMESPACE: "scb"

# --- JOB 1: Escaneo de SEMGREP ---
semgrep-scan:
  stage: security-scan 
  tags:
    - k8s-runner
  image:
    name: bitnami/kubectl:latest
    entrypoint: [""]
  only:
    - main
  script:
    - echo "Verificando conexion con el cluster..."
    - kubectl config get-contexts
    - echo "Creando manifiesto de escaneo de SEMGREP..."
    - kubectl -n $KUBE_NAMESPACE create -f scb-scan.yaml # Tu YAML de Semgrep
    - echo "Scan de Semgrep creado en Kubernetes."