stages:
  - security-scan

variables:
  KUBE_NAMESPACE: "scb"

semgrep-scan:
  stage: security-scan
  tags:
    - k8s-runner
  image:
    name: bitnami/kubectl:latest
    entrypoint: [""]
  only:
    - main
  script:
    - echo "¡Corriendo dentro de un pod de Kubernetes!"
    - echo "Verificando conexion (dentro-del-cluster)..."
    - kubectl config get-contexts
    - echo "Creando (no aplicando) manifiesto de escaneo en sCB..."
    
    # --- ¡ESTE ES EL CAMBIO! ---
    # Cambia 'apply' por 'create' para que funcione con 'generateName'
    - kubectl -n $KUBE_NAMESPACE create -f scb-scan.yaml
    
    - echo "Escaneo 'Scan' creado en Kubernetes."